doctype html
html
    head
        title Ajax Search
        link(rel="stylesheet", href="css/bootstrap.min.css")
        script(type="text/javascript", src="js/jquery.min.js")

        script(type="text/coffeescript", src="coffee/index.coffee")
        link(rel="stylesheet/less", type="text/css", href="less/index.less")

        script(type="text/javascript", src="js/less.min.js")
        script(type="text/javascript", src="js/coffee-script.js")
    body
        .container
            .jumbotron
                h1.title Ajax Search

            .panel.panel-primary
                .panel-heading
                    h2 Mechanics
                .panel-body
                    form#search(action="")
                        input.search-bounds(type="text")
                        .search-loader.search-bounds
                            img(src="images/loader.gif")
                        ul.search-result.search-bounds
                            li.search-result-item

            .panel.panel-default
                .panel-heading
                    h2 HTML Block
                .panel-body
                    pre
                        = '<form '
                        strong= 'id="search"'
                        = " "
                        strong= 'action="(action)"'
                        = '>'
                        br
                        = '    <input type="text" '
                        strong= 'class="search-bounds"'
                        = '/>'
                        br
                        = '    <div '
                        strong= 'class="search-loader search-bounds"'
                        = '>'
                        br
                        = '        <img src="images/loader.gif" />'
                        br
                        = '    </div>'
                        br
                        = '    <ul '
                        strong= 'class="search-result search-bounds"'
                        = '>'
                        br
                        = '        <li '
                        strong= 'class="search-result-item"'
                        = '></li>'
                        br
                        = '    </ul>'
                        br
                        = '</form>'

            .panel.panel-default
                .panel-heading
                    h2 CSS Selectors
                .panel-body
                    h3
                        = "Search "
                        code= "#search"
                    pre= '<form id="search"></form>'

                    h3
                        = "Search Bounds "
                        code= "#search .search-bounds"
                    .alert.alert-warning This class is only used on JavaScript to identify the area for clicks to be identified as still in the area of search. No styling is required for this but the class has to be applied according to the HTML block.
                    pre= '<* class="search-bounds"></*>'

                    h3
                        = "Search Input "
                        code= "#search input"
                    pre= '<input type="text" class="search-bounds" />'

                    h3= "Search Loader"
                    h4
                        = "Template Block "
                        code= "#search .search-loader"
                    .alert.alert-warning The DOM in the form is only a template block for JavaScript to clone. This should be styled as display: none. The actual one to style will be appended to body.
                    h4
                        = "Actual Block "
                        code= "body .search-loader"
                    .alert.alert-warning This is the actual block and selector to style.
                    pre= '<div class="search-loader search-bounds"></div>'

                    h3= "Search Result"
                    h4
                        = "Template Block "
                        code= "#search .search-result"
                    .alert.alert-warning The DOM in the form is only a template block for JavaScript to clone. This should be styled as display: none. The actual one to style will be appended to body.
                    h4
                        = "Actual Block "
                        code= "body .search-result"
                    .alert.alert-warning This is the actual block and selector to style.
                    pre= '<ul/div class="search-result search-bounds"></ul/div>'

                    h3= "Search Result Item"
                    h4
                        = "Template Block "
                        code= "#search .search-result .search-result-item"
                    .alert.alert-warning The DOM in the form is only a template block for JavaScript to clone. This should be styled as display: none. The actual one to style will be appended to body.
                    h4
                        = "Actual Block "
                        code= "body .search-result .search-result-item"
                    .alert.alert-warning This is the actual block and selector to style.
                    pre= '<li/div class="search-result-item"></li/div>'
